<!-- <app-home></app-home> -->
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="card text-center">
  <div class="card-header"><b>Land Survey</b></div>
  <div class="card-body">
    <h5 class="card-title">Survey and Land Department</h5>
    <p class="card-text">

     <h1> Brief History Of Survey Department :</h1> 
      
      Survey and Land Records is one of the oldest department after the Revenue Department, 
      established in year 1978.  The department established in the ruling period of Nizam 
      Kind Sir Salarjung.  Purpose of establishing department is to conduct detailed land 
      survey to know each Royts, how much the land he was cultivating and classification of 
       land to fix up taxes.  In the period of 1900 to 1915 1st   Survey had been conducted,
        in the period of 1930 to 1950 2nd (Revision) survey conducted, from that time to till
         now we are using revision survey records.  In due course of time nearly 80% of records
          are got toned condition.  To proper monitoring of land records it is required to conduct
           resurvey of entire lands with updated technology.
    
  </div>
  <div class="card-footer text-muted">
    <h1>Maharashtra Bhu Naksha:</h1> 
    <br>Contact information
    <br>The state coordinator for Maharashtra Bhu Naksha can be reached at
    <br> Datar SP
    <br>TD, NIC, Office of SC & DLR, Pune
    <br>Email id: sameer.d@nic.in</div>
</div>
</body>
</html>
