<!-- <app-home></app-home> -->

<section class="h-100 h-custom" style="background-color: #8fc4b7;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp" class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;" alt="Sample photo">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Farmer Registration</h3>
  
              <form class="px-md-2" [formGroup]="myGroup"  (ngSubmit)="onSubmit()" action="action_page.php">
                <div class="form-outline mb-4">
                    <label class="form-label" for="farmername">Farmer Name:</label>
                    <input #farmername (ngModel)="farmername" class="form-control" type="text" id="farmername" name="farmername" placeholder="Your name.."
                    formControlName="farmername" ngClass="{'is-valid':submitted f['farmername'].errors}"/>
                    <span *ngIf="submitted && f['farmername'].errors" class="invalid text-danger" >
                     <span *ngIf="f['farmername'].errors['required']">Farmer Name is required</span>
                    </span>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label"  >Addhar Number:</label>
                    <input #addharno (ngModel)="addharno" class="form-control" type="text" id="addharno" name="addharno" 
                    placeholder="AddharNumber.." formControlName="addharno" ngClass="{'is-valid':submitted f['addharno'].errors}"/>
                    <span *ngIf="submitted && f['addharno'].errors" class="invalid text-danger" >
                     <span *ngIf="f['addharno'].errors['required']">Addhar Number is required and it should to 12 digit </span>
                    </span>
                  
                </div>
                 <div class="form-outline mb-4">
                    <label class="form-label" for="mobileno">Mobile Number:</label>
                    <input #mobileno (ngModel)="mobileno" class="form-control" type="text"   name="mobileno" placeholder="mobile Number.."
                    formControlName="mobileno" ngClass="{'is-valid':submitted f['mobileno'].errors}"/>
                    <span *ngIf="submitted && f['mobileno'].errors" class="invalid text-danger" >
                     <span *ngIf="f['mobileno'].errors['required']">Mobile Number is required and it should be 10 digit</span>
                    </span>
                  
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="gatno">Gat Number:</label>
                    <input #gatno (ngModel)="gatno" class="form-control" type="text"  name="gatno" placeholder="gat Number.."
                    formControlName="gatno" ngClass="{'is-valid':submitted f['gatno'].errors}"/>
                    <span *ngIf="submitted && f['gatno'].errors" class="invalid text-danger" >
                     <span *ngIf="f['gatno'].errors['required']">Gat Number is required</span>
                    </span>
                  
                </div> 
                <div class="form-outline mb-4">
                    <label class="form-label" for="gatnakshano">Gat Naksha Number:</label>
                    <input #gatnakshano (ngModel)="gatnakshano" class="form-control"type="text"   name="gatnakshano" placeholder="gat Naksha Number.."
                    formControlName="gatnakshano" ngClass="{'is-valid':submitted f['gatnakshano'].errors}"/>
                    <span *ngIf="submitted && f['gatnakshano'].errors" class="invalid text-danger" >
                     <span *ngIf="f['gatnakshano'].errors['required']">Gat Naksha Number is required
                    </span>
                  </span>
                </div> 
                
               
  
                <button type="submit" class="btn btn-success btn-lg mb-1">Register</button>
  
              </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>